<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
    <resultMap id="memberMap" type="member">
        <result column="acsubj" property="acsubj" typeHandler="strArr"/>
    </resultMap>
    <select id="findMemberById" resultMap="memberMap" parameterType="string">
        select * from academymember where acdid=#{userId}
    </select>
    <insert id="saveMember" parameterType="member">
--         고쳐야 할 것 같아서 주석
--         insert into academymember values (academy_seq.nextval, #{id},#{password}
--                                   ,#{name},
--                                   #{address}
--                                   #{unvname}
--                                   )
    </insert>
</mapper>