<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org/DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
    
    <!--settings, typeAlias만 설정 -->
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.mh.ac.teacher.model.dto.Teacher" alias="teacher"/>
        <typeAlias type="com.mh.ac.common.SpringArrayTypeHandler" alias="strArr"/>
        <typeAlias type="com.mh.ac.instructor.model.dto.Recruit" alias="recruit"/>
    </typeAliases>
</configuration>